a.lat {
    padding: 1%;
    background-color: lightseagreen;
    color: white;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif; 
    font-size: medium;  
}

.tog {
    color: white;
}

.togbar {
      background-color: lightseagreen;
  }

.to-right {
    float: right;
  }

  /* Modify brand and text color  
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
	color: green; 
} */

/* Modify the backgorund color */ 


.body-grey {
    background-color:rgb(241, 241, 241);
    padding: 0;
}

.body-white {
    background-color: white;
    padding:3%
}

.body-grey2 {
    background-color:rgb(241, 241, 241);
    padding:3%;
   
}

.body-white2 {
    background-color: white;
    padding:3%;
    margin-top: 1%;
    
}

.col_pad1 {
    padding: 3%;
    text-align: justify;
    margin-top: 3%;
}

.col_pad2 {
    padding: 3%;
    text-align: justify;
    margin-top: 13.5%;
}

h1 {
    color:lightseagreen;
    font-size: 24px;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color:lightseagreen;
    font-size: 20px;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4 { font-size: 10px;

}
.togbar {
    background:white;
  }

.aligntog{
    margin-left: 70%;
  }

img{width:100%;
         
  }  

figure {
    border: 1px solid: lightseagreen;
    padding: 1px;
}
    
@media (max-width: 990px) {
    .togbar {
      background: lightseagreen;
    }
    
    

    .aligntog{
          margin-left: 40%;
          
    }

    img{width:20%;
         
    }  